body{
    background-color: rgb(0, 75, 75);
    color:rgb(106, 202, 202);
    font-family: TeX Gyre Adventor, sans-serif;
    max-width: 600px;
    margin: 5% 0 5% 10%
}

h1,h2,h3{
    font-family: fantasy;
}

a{
    color:rgb(106, 202, 202);

}
a:visited{
    color:rgb(106, 202, 202);

}

a:hover{
    color:rgb(106, 202, 202);

}

button{
    background-color: rgb(0, 255, 255);
    color: rgb(0, 75, 75);
    font-weight: bold;
    padding: 10px;
    border-color: white;
}

#game-border{
    background-color:#2b7e7e;
}

#game{
    background-color:rgb(0, 75, 75);
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 5% 5%;
    border: 5% 5% 5% 5%;
}

#objtable{
    background-color: #2b7e7e;
    color:rgb(106, 202, 202);
    border: thick solid rgb(106, 202, 202);
    padding: 15px;
}



#mydiv{
    position: absolute;
}

#mydivheader{
    background-color: #2b7e7e;
    color:rgb(106, 202, 202);
    border: thick solid rgb(106, 202, 202);
    cursor: move;
}

li{
    border: thick solid rgb(0, 50, 50);
    padding: 5px;
}

